<!--
Created as apart of the WinHacks 2021 hackathon! Our submission was for the pattern-completion-app, a challenge
submitted by Splice Digital (https://splicedigital.com/)

Project Repo:

Contributors/Team Members:
    Alexander: https://github.com/alexanderlotz
    Sean: https://github.com/seankyer
    Emily: https://github.com/emily-chu
    Ryan: https://github.com/rm00nkh
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pattern-Completion-App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/green-leaf.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/input.js') }}"></script>
</head>

<body>
<div align="center" id="greeting">
    <h1 style="bold">Pattern-Completion-App</h1>
    <img src="{{ url_for('static', filename='img/green-leaf.png') }}" alt="Green-Leaf" width="100" height="100">
</div>

<div>
    <!-- User input: columns, rows-->
    <form action="{{ url_for('gen') }}" method="post">
        <div align="center">
            <label for="rows">Rows:</label>
            <input type="number" id="rows" name="rows" value="{{rows}}" min="0">
        </div>
        <div align="center">
            <label for="cols">Columns:</label>
            <input type="number" id="cols" name="cols" value="{{cols}}" min="0">
        </div>
        <!-- <button type="button" onclick="addRowCol()">Set up greenhouse</button> -->
    <!-- </form> -->
    <br>
    {% if (message != "")}
        <h5>{{message}}</h5>
    {% endif %}

    <!-- <form action="{{ url_for('gen') }}" id="matrix" method="post"> -->
        
        {% if rows <= 0 and cols <= 0 %}
            <input id="matrix-indicator" name="matrix-indicator" hidden value="{{False}}">
            <button type="submit">Set up greenhouse</button>
        {% else %}
            <input id="matrix-indicator" name="matrix-indicator" hidden value="{{True}}">
            <div id="matrix" style="overflow-x:scroll;">
                {% for y in range(rows) %}
                    <label for="{{'row'~y}}">{{'Row '~(y+1)}}</label>
                    <div id="{{'row'~y}}" style="white-space:nowrap;">
                    {% for x in range(cols) %}
                        <label for="{{x ~ ',' ~ y}}">{{(x+1) ~ '.' ~ (y+1)}}</label>
                        <input type="text" id="{{x ~ ',' ~ y}}" name="{{x ~ ',' ~ y}}" value="{{seq[x][y]}}"/>
                    {% endfor %}
                    </div>
                    <br>
                {% endfor %}
            </div>
            <br>
            <input type="submit" value="Predict Pattern, Python!!"/>
        {% endif %}
    </form>
    <br>
    <form action="{{ url_for('index') }}" method="post">
        <input type="submit" value="Reset"/>
    </form>

</div>

</body>
</html>